{% extends "base.html" %}
    <!--COLLECTION-->
    <main>
    <section class="collection-container">
      <table class="styled-table">
        <tbody>
          <tr>
            <th>Trainer</th>
            <th>Pokemon Card</th>
            <th>Collection Date</th>
          </tr>

          <tr>
            <td>Ash</td>
            <td>Pikachu</td>
            <td>2023-01-23</td>
          </tr>
          <tr>
            <td>Ash</td>
            <td>Pikachu</td>
            <td>2023-01-23</td>
          </tr>
          <tr>
            <td>Ash</td>
            <td>Pikachu</td>
            <td>2023-01-23</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
  
  {% include "includes/footer.html" %}